<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mlk.soa.home.manager.mapper.ManagerFamilyGroupMapper">
    <resultMap id="BaseResultMap" type="com.mlk.soa.home.manager.model.po.ManagerFamilyGroup">
        <id column="id" property="id"/>
        <result column="login_id" property="loginId"/>
        <result column="name" property="name"/>
        <result column="age" property="age"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="relation" property="relation"/>
        <result column="is_delete" property="isDelete"/>
        <result column="gender" property="gender"/>
        <result column="memo" property="memo"/>
    </resultMap>

    <sql id="Base_Column_List_Insert">
        login_id, name, age, create_time, update_time, relation, is_delete, gender, memo
    </sql>

    <sql id="Base_Column_List">
        id,
        <include refid="Base_Column_List_Insert"/>
    </sql>

    <select id="queryByLoginId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from manager_family_group where login_id=#{loginId} and is_delete = '0'
    </select>

    <update id="cancelBinding">
        update manager_family_group set is_delete = '1',update_time=now() where id=#{id}
    </update>

    <update id="update" parameterType="com.mlk.soa.home.manager.model.po.ManagerFamilyGroup">
        update manager_family_group
        <set>
            <if test="loginId != null">
                login_id = #{loginId},
            </if>

            <if test="age != null">
                age = #{age},
            </if>

            <if test="createTime != null">
                create_time = #{createTime},
            </if>

            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>

            <if test="gender != null">
                gender = #{gender},
            </if>

            <if test="relation != null">
                relation = #{relation},
            </if>

            <if test="isDeleted != null">
                is_deleted = #{isDeleted},
            </if>

        </set>
        where id=#{id}
    </update>

    <insert id="insert" parameterType="com.mlk.soa.home.manager.model.po.ManagerFamilyGroup"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO manager_family_group (<include refid="Base_Column_List_Insert"/>)
        VALUES ( #{loginId}, #{name}, #{age}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP,
        #{relation}, #{isDelete}, #{gender}, #{memo})
    </insert>
</mapper>